In [2]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd

In [3]:
dataset = pd.read_csv('Social_Network_Ads.csv')

In [4]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
dataset['Purchased'].unique()

array([0, 1], dtype=int64)

In [7]:
X = dataset[['Age', 'EstimatedSalary']]
y = dataset['Purchased']

In [9]:
sc = StandardScaler()
X = sc.fit_transform(X)

In [10]:
x_train, x_test, y_tran, y_test = train_test_split(X,y, test_size = 0.20)

In [31]:
svm = SVC(kernel='rbf', random_state=1, C = 2.0)
svm.fit(x_train, y_tran)

SVC(C=2.0, random_state=1)

In [32]:
y_pred = svm.predict(x_test)

In [33]:
accuracy_score(y_test, y_pred)

0.8875