In [5]:
"""
“Maquina de vetor de suporte” (SVM) é um algoritmo de aprendizado de máquina supervisionado 
que pode ser usado para desafios de classificação ou regressão. Seu foco maior é no 
treinamento e classificação de um dataset.
"""


from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
%matplotlib inline

In [6]:
dataset = pd.read_csv('Social_Network_Ads.csv')

In [11]:
# dataset
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
X = dataset[['Age','EstimatedSalary']]
y = dataset['Purchased']

In [ ]:
sc = StandardScaler()
X = sc.fit_transform(X)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.20)

In [ ]:
#linear, RBF, sigmoid

svm = SVC(kernel='linear', random_state=1, C = 2.0)
svm.fit(x_train,y_train)

In [ ]:
y_pred = svm.predict(x_test)

In [ ]:
accuracy_score(y_test,y_pred)